<app-mensagem-modal></app-mensagem-modal>

<div class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" formControlName="email"
                            placeholder="Digite o e-mail aqui"
                            [ngClass]="{'is-invalid': f['email'].touched && f['email'].invalid}" />
                        <label for="email">E-mail</label>
                        <div class="invalid-feedback" *ngIf="f['email'].touched && f['email'].invalid">
                            Informe um e-mail válido.
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">
                        <i class="bi bi-lock"></i>
                    </span>
                    <div class="form-floating">
                        <input type="password" maxlength="8" class="form-control" id="senha" formControlName="senha"
                            placeholder="Digite senha aqui"
                            [ngClass]="{'is-invalid': f['senha'].touched && f['senha'].invalid}" />
                        <label for="password">Senha</label>
                        <div class="invalid-feedback" *ngIf="f['senha'].touched && f['senha'].invalid">
                            Informe a senha com até 8 caracteres.
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Entrar</button>
            </div>

        </form>
    </div>
</div>