<div class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">

        <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro:</strong> {{ mensagemErro }}
            <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu e-mail"
                        formControlName="email">
                </div>
                <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
                    Informe um e-mail válido.
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Digite sua senha"
                        formControlName="senha">
                </div>
                <div class="text-danger" *ngIf="f['senha'].touched && f['senha'].invalid">
                    Informe uma senha com, pelo menos, 8 caracteres.
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Entrar</button>
            </div>

        </form>

    </div>
</div>