<app-mensagem-modal></app-mensagem-modal>

<app-delete-modal [title]="'Confirma a exclusão do cliente'" [message]="messageDelete"
    (delete)="onDelete()"></app-delete-modal>

<h4>Clientes</h4>
<p>Lista de clientes dos sistemas</p>
<hr />

<div class="table-responsive">

    <div class="mt-3 mb-3">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/pages/cadastrar-clientes']">Cadastrar
            Cliente</button>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="text-end small">
                <pagination-controls previousLabel="" nextLabel=""
                    (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>

            <table class="table table-sm table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>CPF / CNPJ</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of clientes | paginate : { itemsPerPage: 10, currentPage: pagina }">
                        <td class="w-25">{{ formatarCpfCnpj(c.cpfCnpj) }}</td>
                        <td class="force-break">{{ c.nome }}</td>
                        <td class="text-end">
                            <div class="d-inline-flex align-items-center">
                                <button class="btn btn-sm btn-outline-primary me-2" title="Editar"
                                    [routerLink]="['/pages/editar-clientes', c.id]">
                                    <i class="bi bi-pencil"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-danger" title="Excluir" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" (click)="setParamDelete(c.id, c.cpfCnpj, c.nome)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>