<h4>Cadastro de Sistemas</h4>
<p>Preencha o formulário abaixo para incluir um sistema</p>
<hr />

<div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> {{ mensagemSucesso }}
    <button (click)="mensagemSucesso = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>

<div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Erro: </strong> {{ mensagemErro }}
    <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="col-md-3 mt-4 mb-3">
        <label>Código</label>
        <input type="text" class="form-control" formControlName="codigo" placeholder="Digite o código aqui" />
        <div class="text-danger" *ngIf="f['codigo'].touched && f['codigo'].invalid">
            Informe o código do sistema com até 10 caracteres.
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <label>Nome</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome aqui" />
        <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
            Informe o nome do sistema com até 50 caracteres.
        </div>
    </div>

    <div class="col-md-12 mb-4">
        <label>URL</label>
        <input type="text" class="form-control" formControlName="url" placeholder="Digite a URL aqui" />
        <div class="text-danger" *ngIf="f['url'].touched && f['url'].invalid">
            Informe a URL do sistema com até 250 caracteres.
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Realizar Cadastro" [disabled]="form.invalid" />
        </div>
    </div>
</form>