<div *ngIf="success" class="toast align-items-center text-bg-success border-0 show w-100 mt-3 mb-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{ success }}
        </div>
        <button (click)="success=''" type="button" class="btn-close btn-close-white me-2 m-auto" aria-label="Close">
        </button>
    </div>
</div>

<div *ngIf="warning" class="toast align-items-center text-bg-warning border-0 show w-100 mt-3 mb-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{ warning }}
        </div>
        <button (click)="warning=''" type="button" class="btn-close btn-close-white me-2 m-auto" aria-label="Close">
        </button>
    </div>
</div>

<div *ngIf="error" class="toast align-items-center text-bg-danger border-0 show w-100 mt-3mb-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{ error }}
        </div>
        <button (click)="error=''" type="button" class="btn-close btn-close-white me-2 m-auto" aria-label="Close">
        </button>
    </div>
</div>