.hover-effect {
    background-color: white;
    /* Cor padrão (branco) */
    transition: background-color 0.3s ease;
    /* Animação suave */
}

/* Aplica o estilo no hover */
.hover-effect:hover {
    background-color: #f8f9fa !important;
    /* Força o estilo no hover */
}